{% extends "base.html" %}
{% block content %}
    <hr>
    {% if user.is_authenticated %}
    <h1><div class="center">My Notes!</div></h1>       
    
    <form method="POST">
        {% csrf_token %}
        <table class="border_spacing_90_10">
            {% if notes.my_notes%}
              {% for note in notes.my_notes %}
                {% cycle '<tr>' '' '' '' %}
                  <td>
                      <table class= "note_card">
                          <tr><td class="xx_large_font">{{note.note_title}}</td></tr>
                          <tr> <td class="note_text">{{ note.note_text }}</td></tr>
                          <tr><td class="align_right">{{note.created_by}}</td></tr>
                          <td colspan="2" class="center"></div><a href="{% url 'notes:note_detail' note.pk %}">Details</a></div></td>

                      </table>
                      <table>
                          <tr>
                              <td class="width_10"><div class="align_left"></div><a href="{% url 'notes:delete' note.pk %}">Delete</a></div></td>
                              <td><div class="align_right"><a href="{% url 'notes:edit' note.pk %}">Edit</a></div></td>
                          </tr>
                      </table>
                  </td>
                {% cycle '' '' '' '</tr>' %}
            {% endfor %}
            {% else %}
            <h1 class="heading">You have no notes!</h1>
            {% endif %}
        </table>
        
    </form>
    {% endif %}
    <hr>
    <h1><div class="center">Public Notes!</div></h1> 

    <form method="POST">
        {% csrf_token %}
        
            {% csrf_token %}
            <table class="border_spacing_90_10">
                {% for note in notes.public_notes %}
                  {% cycle '<tr>' '' '' '' '' %}
                    <td>
                        <table class= "note_card">
                            <tr><td class="xx_large_font">{{note.note_title}}</td></tr>
                            <tr> <td class="note_text">{{ note.note_text }}</td></tr>
                            <tr><td class="align_right">{{note.created_by}}</td></tr>
                            <tr><td colspan="2" class="center"></div><a href="{% url 'notes:note_detail' note.pk %}">Details</a></div></td></tr>

                        </table>
                    </td>
                  {% cycle '' '' '' '' '</tr>' %}
                {% endfor %}
              </table>
    </form>
    {% endblock content %}
    