{% extends "base.html" %}
{% block content %}
    <hr>
    {% if user.is_authenticated %}
    <h1><div class="center">My Notes!</div></h1>       
    
    <form method="POST" action = {% url 'notes:edit_or_delete' %}>
        {% csrf_token %}
        <table class="border_spacing">
            {% if my_notes%}
              {% for note in my_notes %}
                {% cycle '<tr>' '' '' '' %}
                  <td>
                      <table class= "note_card">
                          <tr><td class="xx_large_font">{{note.note_title}}</td></tr>
                          <tr> <td class="note_text">{{ note.note_text }}</td></tr>
                          <tr><td class="align_right">{{note.created_by}}</td></tr>
                      </table>
                      <table>
                          <tr>
                              <td class="width10"><div class="align_left"><button class ="button2" type="submit" name="delete_items" value="{{ note.pk }}">Delete</button></div></td>
                              <td><div class="align_right"><button class="button3" type="submit" name="edit_items" value="{{ note.pk }}">Edit</button></div></td>
                          </tr>
                      </table>
                  </td>
                {% cycle '' '' '' '</tr>' %}
            {% endfor %}
            {% else %}
            <h1 class="heading">You have no notes!</h1>
            {% endif %}
        </table>
        
    </form>
    {% endif %}
    <hr>
    <h1><div class="center">Public Notes!</div></h1> 

    <form method="POST">
        {% csrf_token %}
        
            {% csrf_token %}
            <table class="border_spacing">
                {% for note in public_notes %}
                  {% cycle '<tr>' '' '' '' %}
                    <td>
                        <table class= "note_card">
                            <tr><td class="xx_large_font">{{note.note_title}}</td></tr>
                            <tr> <td class="note_text">{{ note.note_text }}</td></tr>
                            <tr><td class="align_right">{{note.created_by}}</td></tr>
                        </table>
                    </td>
                  {% cycle '' '' '' '</tr>' %}
                {% endfor %}
              </table>
    </form>
    {% endblock content %}
    