{% extends "base.html" %}
{% block content %}
    <hr>
    <form method="POST" class="form1" action = {% url 'edit' %}>
        {%  csrf_token  %}
        <input type="text" id="id" name="id" value={{ id }} readonly><br><br>
        <input type="text" id="note_title" name="note_title" maxlength="30" value="{{ note_title }}"><br>
        <input type="text" id="note_text" name="note_text" maxlength="100" value="{{ note_text }}"><br>
        <input type="checkbox" id="visibility" name="visibility" value="True">
        <button type="submit">Submit</button>
    </form>
    {% endblock content %}