{% extends "base.html" %}
{% block content %}
    <hr>
    <form method="POST" class="form1" action = {% url 'edit' %}>
        {%  csrf_token  %}
        <table>
            <tr>
                <td><p>Id:</p></td>
                <td><input type="text" id="id" name="id" value={{ id }} readonly></td>
            </tr>
            <br>
            <br>
            <tr>
                <td><p>Title:</p></td>
                <td><input type="text" id="note_title" name="note_title" maxlength="30" value="{{ note_title }}"></td>
            </tr>
            <br>
            <tr>
                <td><p>Text:</p></td>
                <td><input type="text" id="note_text" name="note_text" maxlength="100" value="{{ note_text }}"></td>
            </tr>
            <br>
            <tr>
                <td><p>Visibility:</p></td>
                <td><input type="checkbox" id="visibility" name="visibility" value="True"></td>
            </tr>
            <tr>
                <td colspan="2" style="text-align: center;"><button type="submit">Submit</button></td>
            </tr>
        </table>
    </form>
    {% endblock content %}