{% extends "base.html" %}
{% block content %}

<div class="center">
    <table>
        <tr>
            <th colspan="2" class="font_size_60">Note Title:</th>
            <td colspan="10" class="font_size_60">{{ note.note_title }}</td>
        </tr>
        <tr>
            <th colspan="2" class="font_size_20">Note Text:</th>
            <td colspan="10" class="font_size_20">{{ note.note_text }}</td>
        </tr>
        <tr>
            <th colspan="2" class="font_size_20">Created By:</th>
            <td colspan="10" class="font_size_20">{{ note.created_by }}</td>
        </tr>
        <tr>
            <th colspan="2" class="font_size_20">Created Date:</th>
            <td colspan="10" class="font_size_20">{{ note.created_date }}</td>
        </tr>
    </table>
</div>
{% endblock content %}
